body{
    background-color: rgb(57, 58, 92);
}

.container{
    background-color: rgb(87, 98, 127);
    width: 900px;
    margin: 45px auto;
    padding: 10px 20px 60px 20px;
    border: 7px solid rgb(41, 41, 81);
    border-radius: 3px;
    box-shadow: 0px 4px 10px rgb(13, 13, 53);
}

.polanka {
    width: 250px; 
    float: left;
    shape-outside: url(./polya.png);
}

#polanka{
    color: white;
    font-size: 15px;
}

.silver {
    float: right;
    width: 250px;
    shape-outside: url(./Silver\ Chariot.png);
} 

.sergay {
    color: rgb(141, 202, 233);
    margin: auto;
    margin-top: 50px;
    background-color: rgb(33, 33, 77);
    width: 345px;
    padding: 10px 20px;
}
